<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>PreProd</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <PublishProvider>FileSystem</PublishProvider>
    <EnvironmentName>PreProd</EnvironmentName>
    <AspNetCoreHostingModel>OutOfProcess</AspNetCoreHostingModel>
    <PublishUrl>bin\Prod\net6.0\publish\app.release\</PublishUrl>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish />
    <TargetFramework>net6.0</TargetFramework>
    <ProjectGuid>9c6e2a99-00cf-4b9e-a4aa-7f75dfc65ca5</ProjectGuid>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>